<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Statics/Error/css/dandelion.css"  media="screen" />
<title>404错误页面</title>
</head>
<body>
	<div id="da-wrapper" class="fluid">
        <div id="da-content">
            <div class="da-container clearfix">          
            	<div id="da-error-wrapper">              	
                   	<div id="da-error-pin"></div>
                    <div id="da-error-code">
                    	Warning<span>666</span>
                    </div>               
                	<h1 class="da-error-heading">哎哟喂,作品集正在维护中,敬请期待哟.... </h1>
                    <p><a href="{:U('Index/index')}">点击进入首页</a></p>
                </div>
            </div>
        </div>             
    </div>   
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="zh-cn">
	<include file="Public:header" />

	<body>
		<include file="Public:top" />
		<br />
		<div class="container">
			<div class="">
				<ul class="bread">
					<h4>
					<li><a href="#" class="icon-home"> 首页</a> </li>					
					<li><a href="#">作品集</a></li>
					</h4>
				</ul>
			</div>
			<div class="line-big">
				<div class="xl12 xm8">
					<div class="line-small">
						<div class="xs12">
							<br />
							<h4>我的作品集</h4>
							<hr>
							<div class="about">
								<p style="text-indent: 2em">轮回博客，社交类新博客，分享互联网开发的技术与经验。</p>
								<p style="text-indent: 2em">程序猿（媛）没有不会的，只有还没学的。</p>
								<p style="text-indent: 2em">生活中总是有些东西从别人口中说出来，自己都会觉得很容易，也就那么点东西，没什么值得骄傲，但其实知道一些东西不容易，讲给别人并使其听懂更不容易。</p>
								<p style="text-indent: 2em">生活当中也有一些东西在你用到时候很精通，时间长了却恍如迎面而来的路人一样陌生，要从头开始了解。</p>
								<p style="text-indent: 2em">生活中曾在各大门户、微博、博客逛来逛去，合上电脑，闭上眼睡觉什么都没留下，唯有总结才能有收获。</p>
								<p style="text-indent: 2em">工作或学习当中，你是否会发现很多人再问同样的问题帖子，但没人回答，往下继续查看，通常都是以已经解决结束，却看不到具体解决办法。</p>
								<p style="text-indent: 2em">这就是博客存在的原因，希望能记录、分享我们遇到的难题和我们认为比较精彩的内容(无论是技术类还是为人处事)，也希望能帮助一些人解决他们遇到的难题，同时提高自己的表达和总结能力。</p>
								<p style="text-indent: 2em">博客坚持分享、开放的互联网精神，旨在为广大互联网攻城师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
								<p style="text-indent: 2em">欢迎有技术、有经验、有问题、有态度、有故事的你前来分享！</p>
								<br/>
								<br/>
								<br/>

							</div>
							<div class="about-love">
								<h4>关于程序</h4>
								<hr>
								<p><strong>域 名</strong>：www.tianjianlong.com.cn</p>
								<p><strong>创建时间</strong>：2015年8月16日</p>
								<p><strong>程 序</strong> ：前台[ <a> bootstrap3 </a> ]&nbsp;&nbsp;后台[ <a>ThinkPHP3.2</a> ]</p>
								<p><strong>语 言</strong> ：PHP+MYSQL[utf-8]</p>
								<p><strong>说 明</strong> ：本程序为本人自己开发，喜欢研究的可以联系我^__^ </p>
								<p>程序组成为前台bootstrap3开发，兼容大部分移动设备，对浏览器的兼容未知(本人技术问题)，欢迎大神对本程序优化，请在可以优化的地方告诉我，我会一直改进的。谢谢！</p>
							</div>
							<br />
							<hr />
						</div>
					</div>
				</div>
				<include file="Public:right" />
			</div>
		</div>
		<include file="Public:footer" />
	</body>

</html> -->